@model IdentityRegistrationDemo.Domain.ResponseModels.CitizenResponse

@{
    ViewData["Title"] = "EnrollmentDetails";
}

<h1>Your Enrollment Details</h1>

<div>
    <h4>Citizen</h4> 
    <br />
    @if (TempData["UserDetails"] != null)
    {
        <p class="alert alert-success" id="UserDetails">@TempData["UserDetails"]</p>
    }

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LGA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LGA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferenceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferenceAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReferencePhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferencePhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMaidenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotherMaidenName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BVN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BVN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIN)
        </dd>
    </dl>
</div>

